/*my-app .main-panel .main-content .card{
    animation-duration: 750ms;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}*/

.tim-typo{
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}
.tim-typo .tim-note{
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}


.btn-info{
    background: #0070e4 !important;
    box-shadow: 0 2px 2px 0 rgba(7, 24, 232, 0.14), 0 3px 1px -2px rgba(7, 24, 232, 0.2), 0 1px 5px 0 rgba(7, 24, 232, 0.12) !important;

    /* 0 2px 2px 0 rgb(107, 151, 216), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12) */
}

.sidebar-wrapper .nav li.active a{
    background: black !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
} 

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active{
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
    background-color: #000;
    color: #FFFFFF;
}

form.navbar-form{
	width: 350px;
}

.success-snackbar{
    background-color: #28a745;
}

.danger-snackbar{
    background-color: #dc3545;
}

simple-snack-bar span{
    color: #fff !important;
    font-weight: bold;
}

.items-table{
    width: 100%;
}

.loading-wrapper{
    position: absolute;
    top: 0;
    z-index: 9999;
    background: rgba(255,255,255, 0.7);
    width: 100%;
    height: 100%;
}