<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add User</h4>
                    </div>
                    <div class="card-body">
                        <form name="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                          <mat-label>Name</mat-label>
                                          <input matInput formControlName="name" required>
                                          <mat-error>Name is required!</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Email" type="email" formControlName="email" required>
                                          <mat-error>Email is required!</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Password" formControlName="password" type="password">
                                        <mat-error>Password must contain at least 6 characters!</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Confirm Password" type="password" formControlName="password_confirmation">
                                        <mat-error>Confirm Password must contain at least 6 characters!</mat-error>
                                        <mat-error *ngIf="userForm.get('password_confirmation').hasError('required')">
                                            Password confirmation is required
                                        </mat-error>
                                        <mat-error *ngIf="!userForm.get('password_confirmation').hasError('required') &&
                                                           userForm.get('password_confirmation').hasError('passwordsNotMatching')">
                                            Passwords must match
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div> -->
                            <div class="row">
                                  <div class="col-md-4">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Country" formControlName="country" type="text">
                                      </mat-form-field>
                                  </div>
  
                                  <div class="col-md-4">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="City" type="text" formControlName="city">
                                      </mat-form-field>
                                  </div>
                                
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Phone" type="text" formControlName="phone">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <label>Address</label>
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput placeholder="Address" formControlName="address"></textarea>
                                   </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right">Save</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  